[Unit]
Description=pretix background worker
After=network.target

[Service]
User=pretix
Group=pretix
Environment="VIRTUAL_ENV=/app/pretix/venv"
Environment="PATH=/app/pretix/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/app/pretix/venv/bin/celery -A pretix.celery_app worker -l info
WorkingDirectory=/app/pretix
Restart=on-failure

[Install]
WantedBy=multi-user.target
